<%- include("partials/header.ejs") %>
    <section class="main">
     <div class="container">
        <img class="man-checking-list" src="./images/man-checking-list.png" alt="man checking list image"/>
        <div>
           <h2>Improve Your Productivity</h2> 
        </div>  
    </div>
    </section>